.container {
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

.questionContainer {
    margin-bottom: 15px;
    background-color: #f4f4f8;
    padding: 10px;
    border-radius: 5px;
}

.input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button:hover {
    background-color: rgb(25, 24, 24);
}

.checkboxContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox {
    margin-right: 5px;
}
