@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    padding-top: 100px; 
    background-color: #f4f4f4; 
}

.search__nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #ffffff; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); 
    padding: 15px 30px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.search__nav .logout {
    color: #070707;
    text-decoration: none;
    font-size: 24px;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s; 
  }
  
  .search__nav .logout:hover {
    background-color: #e0e0e0;
  }
  

.search__nav .left__container,
.search__nav .right__container {
    display: flex;
    align-items: center;
}

.search__nav input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px; 
    font-size: 16px;
    color: #333;
    margin: 0 10px;
    box-sizing: border-box;
    background-color: #fff;
}

.search__nav button {
    padding: 10px 20px;
    background-color: #0056b3; 
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
    transition: background-color 0.3s; 
}

.search__nav button:hover {
    background-color: #003d82; 
}

.searchContainer {
    margin-top: 70px; 
    overflow: auto;
    padding-bottom: 20px;
}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s; 
    cursor: pointer;
}

.container:hover {
    transform: translateY(-3px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); 
}

.container img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px; 
    object-fit: cover;
}

.container .text {
    display: flex;
    flex-direction: column;
}

.container .text .name {
    font-size: 1.2em;
    font-weight: 600; 
}

.container .text .location {
    font-size: 0.9em;
    color: #666;
}
